{% extends "base.html" %}
{% block title %} Lage - Ferienwohnungen Borkum {% endblock %}

{% block describtion %} Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . .
Winterklirren . . .
Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel {% endblock %}

{% block css %}
<link rel="stylesheet" href="../../assets/css/apparment-gallery.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
{% endblock %}

{% block content%}
<section id="describtion" class="text-white bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid border rounded" src="../assets/img/Apartments/Langeoog/Rooms/Langeoog.jpeg" style="height: 100%;width: 100%;"></div>
            <div class="col-md-6 text-start">
                <h1 class="text-uppercase text-center">Borkum</h1>
                <p><br><br>Die Suite 'Borkum' befindet sich im 1. Stock im Ferienhaus Hertha auf Borkum. Es erwarten Sie auf ca. 47 m² eine für 2 Personen komfortabel ausgestattetes Feriendomizil mit Schlafzimmer, Wohn-/Schlafzimmer, Küche und Duschbad.<br><br>Das Schlafsofa im Wohnraum bietet weiteren 2 Personen eine Übernachtungsmöglichkeit. Beide Räume verfügen über einen Südbalkon mit Blick in die Dünen.<br><br></p><strong>Besondere Merkmale:</strong>
                <ul>
                    <li>WiFi</li>
                    <li>max. 3 Personen</li>
                    <li>Nichtraucher</li>
                    <li>Allergiker geeignet</li>
                    <li>Parkplatz am Haus</li>
                    <li>Balk0n mit Dünenblick</li>
                    <li>Strandnähe</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Bilder</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row photos" data-bss-baguettebox="">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/desk.jpg"><img class="img-fluid" src="../assets/img/desk.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/building.jpg"><img class="img-fluid" src="../assets/img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/loft.jpg"><img class="img-fluid" src="../assets/img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="../assets/img/desk.jpg"><img class="img-fluid" src="../assets/img/desk.jpg"></a></div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading">Kontaktieren Sie uns gerne!</h2>
                <hr class="my-4">
                <p class="mb-5">Wollen Sie einen Urlaub auf Borkum verbringen oder haben Sie Fragen zu unseren Wohnungen? Melden Sie sich gerne per Mail oder rufen Sie durch.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center ms-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-once="true"></i>
                <p>04486 / 920167</p>
            </div>
            <div class="col-lg-4 text-center me-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="300" data-aos-once="true"></i>
                <p><a href="mailto:your-email@your-domain.com">scheibe-angela@t-online.de</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    