{% extends "./base.html" %}
{% block title %} Wohnung bearbeiten {% endblock %}

{% block description %} {% endblock %}

{% block content%}
<section class="text-center text-white d-flex bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>Wohnungen</strong></h1>
                <hr>
            </div>
        </div>
        <table class="table table-striped text-white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Wohnung</th>
                    <th scope="col"></th>
                    <th scope="col">E-Mail</th>
                </tr>
            </thead>
            <tbody id="scroller">
                <template id="post_template">
                    <tr>
                        <th id="id" scope="row"></th>
                        <td id="name"></td>
                        <td id="surname"></td>
                        <td id="email"></td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary" role="button" href="/admin/apartments/form">+</a>
        </div>

    </div>
</section>

{% endblock %}