{% extends "base.html" %}
{% block title %} Wohnung bearbeiten {% endblock %}

{% block description %}  {% endblock %}

{% block content%}
<header class="text-center text-white d-flex masthead bg-dark">
    <div class="container my-auto">
        <h3> Wohnung</h3>
        <form method="POST" action="{{ url_for('admin.apartment_form') }}">
            {{ form.hidden_tag() }}
            <!--Other fields-->
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="Wohnungsnamen eingeben") }}
            </div>
            <br />
            <fieldset  class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control", placeholder="Beschreibung eingeben") }}
            </fieldset >
            <br />
            <fieldset class="form-group">
                {{ form.tags.label }}
                <br/>
                {% for tag in form.tags %}
                    <div class="form-check-inline">
                        {{ tag(class="form-check-input") }}
                        {{ tag.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </fieldset>
            <br />
            <fieldset class="form-group">
                {{ form.upload.label }}
                {{ form.upload(class="form-control", placeholder="Beschreibung eingeben") }}
            </fieldset>
            <br />
            <fieldset class="form-group">
                {{ form.thumbnail.label }}
                <br />
                {% for img in form.thumbnail %}
                <div class="form-check-inline">
                    {{ img(class="form-check-input") }}
                    {{ img.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </fieldset>
            <br />
            <fieldset class="form-group">
                {{ form.images.label }}
                <br />
                {% for img in form.images %}
                <div class="form-check-inline">
                    {{ img(class="form-check-input") }}
                    {{ img.label(class="form-check-label") }}
                </div>
                {% endfor %}
            </fieldset>


            <br />
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</header>
{% endblock %}