{% extends "./base.html" %}
{% block title %} Wohnung bearbeiten {% endblock %}

{% block description %} {% endblock %}

{% block content%}
<section class="text-white d-flex bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h1 class="text-uppercase"><strong>Wohnungen</strong></h1>
                <hr>
            </div>
        </div>
        <table class="table text-left text-white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Wohnung</th>
                </tr>
            </thead>
            <tbody>
                {% for apartment in apartments %}
                    <tr>
                        <th id="id" scope="row" class="col-md-2">{{ apartment.id }}</th>
                        <td id="name" class="col-md-6">{{ apartment.displayname }}</td>
                        <td class="col-md-1"><a href="/admin/apartments/add-images"><i class="fa fa-image" style="color:#0da699;"></i></a></td>
                        <td class="col-md-1"><a href="/admin/apartments/form/{{ apartment.name }}"><i class="fa fa-edit" style="color:#c9cc2a;"></i></a></td>
                        <td class="col-md-1"><a href="/admin/apartments/delete"><i class="fa fa-trash" style="color:#7d1414;"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-lg-8 mx-auto text-center">
            <a class="btn btn-primary" role="button" href="/admin/apartments/form"><i class="fa fa-plus" style="color:#ffffff;"></i> Neu</a>
        </div>
    </div>
</section>

{% endblock %}