{% extends "./base.html" %}
{% block title %} Wohnung bearbeiten {% endblock %}

{% block description %} {% endblock %}

{% block content%}
<section class="text-white d-flex bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <h1 class="text-uppercase"><strong>Wohnungen</strong></h1>
                <hr>
            </div>
        </div>
        <table class="table text-left text-white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Wohnung</th>
                    <th scope="col">Haus</th>
                </tr>
            </thead>
            <tbody>
                {% for flat in flats %}
                <tr>
                    <th id="id" scope="row" class="col-md-2">{{ flat.id }}</th>
                    <td id="name" class="col-md-6">{{ flat.name }}</td>
                    <td id="house" class="col-md-6">{{ flat.house.name }}</td>
                    <td class="col-md-1"><a href="/admin/flats/{{ flat.id }}/add-image"><i class="fa fa-image"
                                style="color:#0da699;"></i></a>
                    </td>
                    <td class="col-md-1"><a href="/admin/flats/{{ flat.id }}/update"><i class="fa fa-edit"
                                style="color:#c9cc2a;"></i></a></td>
                    <td class="col-md-1"><a href="/admin/flats/{{ flat.id }}/delete"><i class="fa fa-trash"
                                style="color:#7d1414;"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-lg-8 mx-auto text-center">
            <a class="btn btn-primary" role="button" href="/admin/flats/add"><i class="fa fa-plus"
                    style="color:#ffffff;"></i> Neu</a>
        </div>
    </div>
</section>

{% endblock %}