{% extends "base.html" %}
{% block title %} Wohnung bearbeiten {% endblock %}

{% block description %} {% endblock %}

{% block content%}
<header class="text-center text-white d-flex masthead bg-dark">
    <div class="container my-auto">
        <h3> Wohnung</h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="Hausnamen eingeben") }}
            </div>
            <br />
            <fieldset class="form-group">
                {{ form.description.label }}
                {{ form.description(class="form-control", placeholder="Beschreibung eingeben") }}
            </fieldset>
            <br />

            <fieldset class="form-group">
                {{ form.address.label }}
                {{ form.address(class="form-control", placeholder="Adresse eingeben") }}
            </fieldset>
            <br />

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</header>
{% endblock %}