{% extends "base.html" %}
{% block title %} Lage - Ferienwohnungen Borkum {% endblock %}

{% block describtion %} Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . .
Winterklirren . . .
Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel {% endblock %}

{% block css %}
<link rel="stylesheet" href="../../assets/css/apparment-gallery.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
{% endblock %}

{% block content%}
<section id="describtion" class="text-white bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid border rounded" realsrc="{{ thumbnail }}" style="object-fit: cover; height: 100%; width: 100%;"></div>
            <div class="col-md-6 text-start">
                <h1 class="text-uppercase text-center">{{ info['name'] }}</h1>
                <p><br><br>{{ info['describtion'] }}<br><br></p>
                <strong>Besondere Merkmale:</strong>
                <ul>
                    {% for item in info['properties'] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading">Zimmer und Ausstattung</h2>
                <hr class="my-4">
                <p class="mb-5">Norso lecti amano de compaso ala esta de flamingo.</p>
            </div>
        </div>
    </div>
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
    
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            {% for i in range(images|length)%}
                <button type="button" data-bs-target="#demo" data-bs-slide-to="{{i}}" class="{% if i==0 %} active {% endif %}"></button>  
            {% endfor %}
        </div>
    
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            {% for i in range(images|length)%}
                <div class={% if i==0 %} "carousel-item active" {% else %} "carousel-item" {% endif %}>
                    <img class="d-block w-100" realsrc="{{ images[i] }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Slide label</h5>
                        <p>Some representative placeholder content for the slide.</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</section>
<section id="contact", class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading">Konnten wir Ihr Interesse wecken?</h2>
                <hr class="my-4">
                <p class="mb-5">Schreiben Sie uns gerne eine Mail oder melden Sie sich telefonisch.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center ms-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="150"data-aos-once="true"></i>
                <p>04486 / 920167</p>
            </div>
            <div class="col-lg-4 text-center me-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in" data-aos-duration="300" data-aos-delay="150" data-aos-once="true"></i>
                <p><a href="mailto:your-email@your-domain.com">scheibe-angela@t-online.de</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
    