<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} Title {% endblock %}</title>
    <meta name="description"
        content={% block describtion %} Describtion {% endblock %}>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    {% block css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Ferienwohnungen Borkum</a>
            <button
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Haus Hertha</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/apartment/baltrum">Baltrum</a>
                            <a class="dropdown-item" href="/apartment/borkum">Borkum</a>
                            <a class="dropdown-item" href="/apartment/langeoog">Langeoog</a>
                            <a class="dropdown-item" href="/apartment/memmert">Memmert</a>
                            <a class="dropdown-item" href="/apartment/studio-1">Studio 1</a>
                            <a class="dropdown-item" href="/apartment/studio-2">Studio 2</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/apartment/kajo">Kajo</a></li>
                    <li class="nav-item"><a class="nav-link" href="/location">Lage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery">Galerie</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} 
    
    {% endblock %}    
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery.js') }}"></script>
</body>
    
</html>