<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} Title {% endblock %}</title>
    <meta name="description" content={% block description %} description {% endblock %}>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    {% block css %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body id="main_scrollable" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <div id="top"></div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Ferienwohnungen Borkum</a>
            <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">

                    {% for house in base_data.rental_objects %}


                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">{{
                            house.name}}</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/house/{{ house.name }}">{{ house.name }}</a>
                            <div class="dropdown-divider"></div>
                            {% for flat in house.flats %}
                            <a class="dropdown-item" href="/flat/{{ flat.name }}">{{ flat.name
                                }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    {% endfor %}

                    <li class="nav-item"><a class="nav-link" href="/location">Lage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery">Galerie</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">Kontakt</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}


    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset" style="text-decoration: none;">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            {{ base_data.contact.name }}
                        </h6>
                        <p>
                            Vermietunung aus Leidenschaft seit über 15 Jahren. <br> Weitere Informationen finden Sie
                            auf: <a href="{{ base_data.contact.traumfewo_link }}"> {{base_data.contact.traumfewo_name
                                }}</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Links
                        </h6>
                        <p>
                            <a href="/privacy" class="text-reset" style="text-decoration: none;">Datenschutz</a>
                        </p>
                        <p>
                            <a href="/terms_of_use" class="text-reset"
                                style="text-decoration: none;">Nutzungsbedingungen</a>
                        </p>
                        <p>
                            <a href="/impressum" class="text-reset" style="text-decoration: none;">Impressum</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Kontakt
                        </h6>
                        <p><i class="fa fa-home me-3"></i> {{ base_data.contact.street }}, {{ base_data.contact.city }}
                        </p>
                        <p><i class="fa fa-envelope me-3"></i>{{ base_data.contact.email }}</p>
                        <p><i class="fa fa-phone me-3"></i>{{ base_data.contact.phone }}</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="www.ferienwohnungen-insel-borkum.de"
                style="text-decoration: none;">ferienwohnungen-insel-borkum.de</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="{{ url_for('static', filename='js/lazyload.js') }}"></script>
</body>

</html>