<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Ferienwohnungen Borkum</title>
    <meta name="description" content="Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . . Winterklirren . . . Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/index.html">Ferienwohnungen Borkum</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Haus Hertha</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/baltrum.html">Baltrum</a><a class="dropdown-item" href="/borkum.html">Borkum</a><a class="dropdown-item" href="/langeoog.html">Langeoog</a><a class="dropdown-item" href="/memmert.html">Memmert</a><a class="dropdown-item" href="/studio-1.html">Studio 1</a><a class="dropdown-item" href="/studio-2.html">Studio 2</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/kajo.html">KaJo</a></li>
                    <li class="nav-item"><a class="nav-link" href="#location">Lage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/gallery.html">Galerie</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white d-flex masthead" style="background-image:url({{ url_for('static', filename='img/Gallery/Thumbnail/beach-drone.jpg') }});">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Gallerie</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Borkum und seine schönen Ecken!</p>
            </div>
        </div>
    </header>
    <div>
        <div class="row" data-masonry="{&quot;percentPosition&quot;: true }"> 
            {% for filename in images%}
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <picture type="" srcset=""><img class="card-img-top p-3" src="{{ filename }}" alt="" style="border-radius: 24px; object-fit: cover"></picture>
                        <div class="card-body">
                            <h5 class="card-title">Titulo<br></h5>
                            <p class="card-text text-muted">Parrafo<br></p><a href="">Link</a>
                        </div>
                    </div>
                </div>
            {% endfor%}

        </div><script async="" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"></script>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='js/Lightbox-Gallery.js') }}"></script>
</body>

</html>