{% extends "base.html" %}
{% block title %} Gallery - Ferienwohnungen Borkum {% endblock %}

{% block description %} Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . .
Winterklirren . . .
Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel {% endblock %}

{% block content%}
<section class="text-center text-white d-flex  bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>Impressum</strong></h1>
                <hr>
            </div>
        </div>
    </div>
</section>
<br>
<h2>Angaben gemäß § 5 TMG:</h2>
<p>Ferienwohnungen Scheibe<br>Private Vermietung<br>Angela Scheibe</p>
<h3>Postanschrift:</h3>
<p>Rüschenweg 46<br>26188 Edewecht<br></p>
<h3>Kontakt:</h3>
<p>Telefon: 04486 920167<br>E-Mail: vermietung.scheibe@gmail.com</p>
<p></p>
<p><br></p>
<p></p>
<h2>Hinweise zur Website</h2>
<p></p>
<h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in
    Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teilzunehmen.</p>
<p></p>
<p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
{% endblock %}