{% extends "base.html" %} 
{% block title %} Home - Ferienwohnungen Borkum {% endblock %} 

{% block describtion %} Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . . Winterklirren . . .
Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel {% endblock %}

{% block css %}{% endblock %}

{% block content%}
<header class="text-center text-white d-flex masthead" realsrc="/picture/header.png" style="background-image:url();">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>Ferienwohnungen Borkum</strong></h1>
                <hr>
            </div>
        </div>
        <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><br>Meeresrauschen, Sommerflirren . . . Sturmgetöse, <br>Kinderlachen . . . Winterklirren . . . Hochseeklima, am Puls der <br>Gezeiten . . . Demut, Freiheit . . . Insel<br><br></p><a class="btn btn-primary btn-xl" role="button" href="#contact">Kontaktieren Sie Uns</a>
        </div>
    </div>
</header>
<section id="about" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col offset-lg-8 text-center mx-auto">
                <h2 class="text-white section-heading">Willkommen auf der Nordseeinsel Borkum</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4"><br>Wir bieten Ihnen schöne Ferienwohnungen für 2 bis 6 <br>Personen und das in guter Lage auf der Insel Borkum. <br>Stöbern sie gerne auf diesen Seiten. <br><br></p>
                <a class="btn btn-light btn-xl" role="button" href="/gallery">Zur Galerie</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unsere Ferienwohnungen</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-diamond fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Top Lage</h3>
                    <p class="text-muted mb-0">Direkt an den Dünen und nur einen kurzen Fußmarsch zum Meer.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                    <h3 class="mb-3">Geräumig</h3>
                    <p class="text-muted mb-0">Mit viel Platz in einen entspannten Urlaub.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons" data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                    <h3 class="mb-3">Gute Einrichtung</h3>
                    <p class="text-muted mb-0">Hier finden Sie alles was Sie brauchen.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="mx-auto service-box mt-5"><i class="fa fa-heart fa-4x text-primary mb-3 sr-icons" data-aos="fade" data-aos-duration="200" data-aos-delay="600" data-aos-once="true"></i>
                    <h3 class="mb-3">Made with Love</h3>
                    <p class="text-muted mb-0">Für das gewisse Etwas!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="preview" class="p-0">
    <div class="container-fluid p-0">
        <div class="row g-0 popup-gallery">
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/baltrum"><img class="img-fluid" realsrc="/picture/apartments/baltrum/thumbnail/baltrum.JPG" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Baltrum</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/borkum"><img class="img-fluid" realsrc="/picture/apartments/borkum/thumbnail/borkum.JPG" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Borkum</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/kajo"><img class="img-fluid" realsrc="/picture/apartments/kajo/thumbnail/kajo.jpeg" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Kajo</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/langeoog"><img class="img-fluid" realsrc="/picture/apartments/langeoog/thumbnail/langeoog.jpeg" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Langeoog</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/memmert"><img class="img-fluid" realsrc="/picture/apartments/memmert/thumbnail/memmert.JPG" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Memmert</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/studio-1"><img class="img-fluid" realsrc="/picture/apartments/studio-1/thumbnail/studio-1.jpeg" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Studio 1</span></div>
                        </div>
                    </div>
                </a></div>
            <div class="col-sm-6 col-lg-4"><a class="portfolio-box" href="/apartment/studio-2"><img class="img-fluid" realsrc="/picture/apartments/studio-2/thumbnail/studio-2.jpeg" realscaling="0.5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"><span>Ferienwohnung</span></div>
                            <div class="project-name"><span>Studio 2</span></div>
                        </div>
                    </div>
                </a></div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center mx-auto">
                <h2 class="section-heading">Kontaktieren Sie uns gerne!</h2>
                <hr class="my-4">
                <p class="mb-5">Sie wollen einen Urlaub auf Borkum verbringen oder haben Fragen zu unseren Wohnungen? Melden Sie sich gerne per Mail oder rufen Sie durch.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center ms-auto"><i class="fa fa-envelope-o fa-3x mb-3 sr-contact" data-aos="zoom-in"
                    data-aos-duration="300" data-aos-delay="150" data-aos-once="true"></i>
                <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
            </div>
            <div class="col-lg-4 text-center me-auto"><i class="fa fa-phone fa-3x mb-3 sr-contact" data-aos="zoom-in"
                    data-aos-duration="300" data-aos-delay="150" data-aos-once="true"></i>
                <p>{{ contact.phone }}</p>
            </div> 
        </div>
    </div>
</section>
{% endblock %}