{% extends "base.html" %}
{% block title %} Gallery - Ferienwohnungen Borkum {% endblock %}

{% block describtion %} Meeresrauschen, Sommerflirren . . . Sturmgetöse . . . Mövenmeckern, Kinderlachen . . .
Winterklirren . . .
Hochseeklima, am Puls der Gezeiten . . . Demut, Freiheit . . . Insel {% endblock %}

{% block content%}
<section class="text-center text-white d-flex  bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>Nutzungsbedingungen</strong></h1>
                <hr>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container my-auto">
    <div class="row text-center">
        <div class="col-lg-10 mx-auto">
            <p>"Deine Zukunft ist das, was du draus machst. Also mach was Gutes draus." – Dr. Emmett Brown</p>
        </div>
    </div>
</div>

{% endblock %}